/* Global styles */
body {
    background: url('/Content/images/background2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* Main container styles */
.container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Contact form section */
.contact-section, .address-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: auto;
    margin-top: 60px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

    button:hover {
        background-color: #45a049;
    }



/* Address section */
.address-section img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
