/* CourseReviews.css */
.container {
    max-width: 900px;
    margin: 60px auto; /* Center the container and add top margin */
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: auto;
    margin-top: 100px;
}

h2 {
    font-size: 2.5rem;
    color: #333333;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    margin-bottom: 30px; /* Space below the button */
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #ffffff;
    transition: background-color 0.3s, box-shadow 0.3s;
}

    .btn:hover {
        background-color: #0056b3;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
}

    .table th, .table td {
        padding: 15px 20px;
        text-align: left;
        border-bottom: 1px solid #dddddd;
    }

    .table th {
        background-color: #007bff;
        color: #ffffff;
        font-weight: 600;
        font-size: 1.1rem;
    }

    .table td {
        background-color: #ffffff;
        font-size: 1rem;
    }

    .table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table tr:hover {
        background-color: #e1e1e1;
    }

.fa-star {
    font-size: 1.4rem;
    color: #d3d3d3;
}

    .fa-star.checked {
        color: #ffcc00;
    }

/* Responsive design */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 2rem;
    }

    .btn {
        padding: 10px 15px;
        font-size: 1rem;
    }

    .table td, .table th {
        font-size: 0.9rem;
    }
}
