/* CourseReviews.css */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #333;
    text-align: center;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .table thead th {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        text-align: left;
    }

    .table tbody td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .table tbody tr:hover {
        background-color: #f1f1f1;
    }

.checked {
    color: #f5a623;
}

.fa-star {
    color: #ddd;
    font-size: 1.2em;
}
