body {
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column; /* Ensure flex-direction is column */
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    flex: 1; /* Ensure the main content takes up available space */
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.edit .container {
    padding: 20px;
    margin-top: 45px;
    max-width: 800px;
}

.card {
    background-color: rgba(255, 255, 255, 0.95);
    border: none;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: auto;
    
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    color: #343a40;
    font-size: 28px;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    height: 60px;
}

.card-body {
    padding: 30px;
    height: auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

    .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
    }

.form-control-file {
    margin-top: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004b9b;
    }

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }

.text-danger {
    color: #dc3545;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

    a:hover {
        text-decoration: underline;
    }
