@model Claysys_Online_Course_Learning_portal.Models.User

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero section -->
<section class="hero-section">
    <div class="container d-flex align-items-md-start justify-content-start fs-1 text-white flex-column">
        <div class="claysys-text">
            <h1>
                New to Claysys? Lucky <span style="display:block">you. <span style="font-size: medium;">Courses start at ₹449. Get your new-student offer before it expires.</span></span>
            </h1>
        </div>
    </div>
</section>

<!-- Additional sections -->
<section class="additional-image-section">
    <!-- Your additional content here -->
</section>
