@model Claysys_Online_Course_Learning_portal.Models.Course

@{
    ViewBag.Title = "Delete Course";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    <link rel="stylesheet" type="text/css" href="~/Content/Delete.css" />
}

<div class="delete-course-container">
    <h2>Delete Course</h2>
    <h3>Are you sure you want to delete the following course?</h3>
    <div>
        <h4>Course</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Title</dt>
            <dd>@Html.DisplayFor(model => model.Title)</dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "CourseManagement", null, new { @class = "btn btn-secondary" })
        }
    </div>
</div>